:root { /*設定模板樣式*/
    --shirt-color: #FF9800;
    --mobile-screen-button-color: #de1e42;
    --utensils-color: #ff00ac;
    --bag-shopping-color: #9a8598;
    --shoe-prints-color: #000000;
    --bucket-color: #00ffd0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#map {
    width: 100%;
    height: 91%;
    z-index:1;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

    .marker-cluster-small div {
        background-color: rgba(110, 204, 57, 0.6);
    }

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

    .marker-cluster-medium div {
        background-color: rgba(240, 194, 12, 0.6);
    }

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

    .marker-cluster-large div {
        background-color: rgba(241, 128, 23, 0.6);
    }

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

    .marker-cluster div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    .marker-cluster span {
        line-height: 30px;
    }

.property { /*地標外框樣式(未選取) */
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
}

    .property::after { /*地標外框樣式(選取後) */
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid #FFFFFF;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: 95%;
        transform: translate(-50%, 0);
        transition: all 0.3s ease-out;
        width: 0;
        z-index: 1;
    }


    .property .icon { /*地標圖式樣式(未選取)*/
        align-items: center;
        display: flex;
        justify-content: center;
        color: #000000;
    }

    .details {
        display: flex;
        flex-direction: column; /* 確保內容垂直排列 */
        gap: 10px; /* 控制內容之間的間距 */
        position: relative; /* 若有使用絕對定位，確保參考是此容器 */
    }

#price {
    width: 100%;
    margin-bottom: 10px;
}

.address { /*property框架下的address樣式*/
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-grow: 1; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.features {
    display: flex;
    flex-direction: column; /* 讓 features 垂直排列 */
}

    .features > div { 
        align-items: center;
        background: #F5F5F5;
        border-radius: 5px;
        border: 1px solid #ccc;
        display: flex;
        font-size: 10px;
        gap: 5px;
        padding: 5px;
    }
    .features canvas {
        max-width: 100%; /* 確保畫布不會溢出 */
        height: auto; /* 自動調整高度 */
    }

        .features > div > span {
            flex-grow: 1; 
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .fliter {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 3;
            background-color: #1B2D58;
            border: 1px solid #1B2D58;
            text-align: center;
            color: white;
            line-height: 50px; /* 與高度相同，使文字垂直居中 */
            font-size: 16px; /* 可以根據需要調整字體大小 */
        }
        

.fliter-content {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: #F0F0F0;
    z-index: 4;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* 使元素垂直排列 */
}

.fliter-content button {
    margin-left: auto; /* 將按鈕推到右側 */
    margin-top: auto; /* 如果希望按鈕在底部，這行是可選的 */
}

